@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */

:root {
  --bs-primary: #2e483a;
  --bs-primary-rgb: 46, 72, 58;
  --body-bg: #F6F3ED;
  --body-bg-rgb: 246, 243, 237;
  --bs-light: #f6f3ed;
  --bs-light-rgb: 246, 243, 237;

  --bs-navbar-active-color: #F6F3ED;
  --bs-navbar-active-color-rgb: 246, 243, 237;
}

#hero #content
{
max-width: 90ch;
}

.btn-primary {
  --bs-btn-color: var(--body-bg);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--body-bg);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);

}

.navbar-brand {
  color: var(--bs-primary)
}

body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}

ul {
  list-style-type: none;
}

/* This CSS rule targets all <ul> elements and sets their list-style-type to none, effectively removing the bullet points.
You can also apply this to a specific <ul> by using a class or ID:
Code

<ul class="no-bullets">
  <li>Item 1</li>
  <li>Item 2</li>
</ul>

Code */

.no-bullets {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

